/*
    ************************************************************
    |  feuille de style ecrite par Dymko frédéric, Cazaux Axel |
    |  L3 informatique                                         |
    |  Projet TOO/CAI                                          |
    ************************************************************
*/

/*
    Couleur de test a supprimer avant l'envois du projet
*/
body {
    _background-color: aqua;
}

header {
    _background-color: blueviolet;
}

#inputField {
    _background-color: brown;
}

#inputField h2 {
    _background-color: chartreuse;
}

#inputField #userInteractionField {
    _background-color: chocolate;
}

footer {
    _background-color: blue;
}

/*
    Feuille de styles styles.css
*/
body {
    /* Suppression des padding et margin de base */
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    margin-top: 1fr;
    grid-column: 1 / 4;
    grid-row: 2;
    text-align: center;
    
    white-space: nowrap;
}

/*
    On replacera peux etre le txt par une img
*/
h1 {
    font-size: 70px;
    display: inline;
}

#inputField {
    grid-column: 1 / 4;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#inputField h2 {
    grid-row: 1;
    grid-column: 2 / 4;
    text-align: center;
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
}

#userInteractionField {
    grid-column: 2 / 4;
    grid-row: 2;
    padding: 2%;
    white-space: nowrap;
    background-color: #c4c4c4;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#userInteractionField input {
    height: 40px;
    width: 80%;
    border: none;
    border-radius: 5px 0 0 5px;
    padding-left: 2%;
}

input.error {
    color: red;
}

#userInteractionField button {
    height: 42px;
    width: 45px;
    margin-left: 0;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: limegreen;
}

#userInteractionField button:active {
    background-color: #186618;
}